/**
 * Colors
 **/
$cn-blue: #3a4b76;
$cn-gray: #818181;
$cn-lt-blue: lighten($cn-blue,20%);

/**
 * Measurements
 **/
$site-width: 1200px;
$content-width: 680px;
$nav-height: 150px;
$margin-m: 15px;

/**
 * Defaults
 **/
$text-color: #000000;
$border-color: $cn-blue;

/**
 * Fonts
 **/
$text-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Alegreya Sans SC', sans-serif;

$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;