//Colors
$cn-blue: #3a4b76;
$cn-gray: #818181;
$cn-lt-blue: lighten($cn-blue,20%);

//Vars
$site-width: 1200px;
$content-width: 680px;
$nav-height: 127px;
$margin-m: 15px;

$text-color: #000000;
$border-color: $cn-blue;

$text-font: 'Gentium Book Basic', serif;
$heading-font: 'Alegreya Sans SC', sans-serif;

$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
