/**
 * Colors
 **/
/**
 * Measurements
 **/
/**
 * Defaults
 **/
/**
 * Fonts
 **/
body {
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif; }
  body a {
    text-decoration: none;
    color: #000000; }
    body a:hover {
      text-decoration: underline; }
  body h1, body h2, body h3, body h4 {
    color: #3a4b76;
    font-family: "Alegreya Sans SC", sans-serif;
    text-transform: uppercase; }
    body h1 a, body h2 a, body h3 a, body h4 a {
      color: #3a4b76; }

.site {
  max-width: 1200px;
  min-width: 1040px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/**
 * Nav bar
 **/
.m-nav {
  height: auto;
  position: relative; }
  .m-nav .m-nav--main {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 20px;
    position: relative; }
    .m-nav .m-nav--main .links a {
      color: #637ab3; }
    .m-nav .m-nav--main .search label {
      display: none; }
    .m-nav .m-nav--main .logo {
      position: absolute;
      left: 0;
      top: 0;
      height: 60px; }
      .m-nav .m-nav--main .logo img {
        height: 100%;
        width: auto; }
    .m-nav .m-nav--main .tagline {
      position: absolute;
      bottom: .75em;
      text-transform: uppercase;
      font-weight: bold; }
    .m-nav .m-nav--main .meta {
      position: absolute;
      right: 0;
      bottom: 15px; }
    .m-nav .m-nav--main .social {
      position: absolute;
      right: 0;
      top: 0; }
      .m-nav .m-nav--main .social a {
        margin-left: .25em; }
        .m-nav .m-nav--main .social a:hover {
          text-decoration: none; }
      .m-nav .m-nav--main .social i {
        font-size: 1.75em;
        color: #000000; }
        .m-nav .m-nav--main .social i:hover {
          color: #637ab3; }
  .m-nav .m-nav--latest-news {
    height: 1em;
    padding: .5em;
    border: 1px solid #3a4b76;
    position: relative; }
    .m-nav .m-nav--latest-news .heading {
      position: absolute;
      left: .5em;
      bottom: .4em;
      font-weight: bold; }
    .m-nav .m-nav--latest-news .items {
      position: absolute;
      left: 118px;
      bottom: .4em;
      overflow: hidden;
      width: 66%; }
      .m-nav .m-nav--latest-news .items a {
        color: #637ab3; }
    .m-nav .m-nav--latest-news .date {
      position: absolute;
      right: .5em;
      bottom: .4em; }
    .m-nav .m-nav--latest-news .unslider-nav, .m-nav .m-nav--latest-news .unslider-arrow {
      display: none; }

/**
 * Archive pages (Home, Category, Search, Etc.)
 **/
.m-archive {
  overflow: hidden; }
  .m-archive.archive {
    border-top: 1px solid #3a4b76; }
    .m-archive.archive .heading {
      margin-left: 15px; }
    .m-archive.archive .results ul {
      padding-left: 2em;
      padding-right: 2em; }
      .m-archive.archive .results ul li {
        margin-bottom: 1em;
        color: #3a4b76; }
        .m-archive.archive .results ul li a {
          color: #3a4b76; }
  .m-archive.search .nothing-found {
    margin-left: 15px;
    font-weight: bold; }
  .m-archive .pagination {
    padding: 15px;
    padding-bottom: 30px;
    color: #637ab3; }
    .m-archive .pagination a {
      color: #637ab3; }

/**
 * Homepage categories container
 **/
.m-home-homepage-categories {
  overflow: hidden;
  border-bottom: 1px solid #3a4b76;
  margin-bottom: 30px; }

/**
 * Homepage category block
 **/
.m-home-category {
  width: 50%;
  float: left;
  border: 1px solid #3a4b76;
  padding: 1em;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  box-sizing: border-box; }
  .m-home-category:nth-of-type(odd) {
    clear: left; }
  .m-home-category:nth-of-type(even) {
    border-left: none; }
  .m-home-category > .title {
    margin: 0;
    margin-bottom: 15px; }
  .m-home-category .item {
    overflow: hidden;
    margin-bottom: 15px; }
    .m-home-category .item .thumbnail {
      width: 60px;
      height: 60px;
      background-color: #3a4b76;
      float: left;
      margin-right: 1em; }
    .m-home-category .item .title {
      float: left;
      width: calc(100% - 76px);
      font-weight: bold; }
      .m-home-category .item .title a {
        color: #3a4b76; }
  .m-home-category .items {
    padding-bottom: 1em;
    padding-left: 1em; }
    .m-home-category .items .item {
      display: list-item;
      color: #3a4b76;
      margin-bottom: .5em; }
      .m-home-category .items .item a {
        color: #3a4b76; }
  .m-home-category .more {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
    color: #637ab3;
    text-transform: uppercase; }

/**
 * Homepage category carousel galleries container
 **/
.m-home-carousel-categories {
  position: relative;
  margin-bottom: -1px; }

/**
 * Homepage category carousel
 **/
.m-carousel-row {
  border: 1px solid #3a4b76;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em; }
  .m-carousel-row > .title {
    padding-left: 15px;
    padding-right: 15px; }
  .m-carousel-row .featured-item {
    box-sizing: border-box;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 15px;
    width: 33.333%;
    float: left; }
    .m-carousel-row .featured-item:first-of-type {
      padding-left: 15px; }
    .m-carousel-row .featured-item:nth-of-type(3n) {
      clear: right;
      padding-right: 15px; }
    .m-carousel-row .featured-item:nth-of-type(3n+1) {
      clear: left;
      padding-left: 15px; }
    .m-carousel-row .featured-item .title a {
      font-weight: bold;
      color: #3a4b76; }
    .m-carousel-row .featured-item .thumbnail {
      width: 100%;
      height: 160px;
      margin-bottom: 15px;
      background-size: cover !important;
      background-color: #3a4b76;
      position: relative; }
      .m-carousel-row .featured-item .thumbnail a {
        position: absolute;
        width: 100%;
        height: 100%; }
  .m-carousel-row .more {
    position: absolute;
    right: 15px;
    bottom: 15px; }
    .m-carousel-row .more a {
      text-transform: uppercase;
      color: #637ab3;
      font-weight: bold;
      font-size: 14px; }

/**
 * Footer
 **/
.m-footer {
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #637ab3; }
  .m-footer ul {
    display: block; }
  .m-footer li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
    padding-right: 1em;
    border-right: 1px solid #637ab3; }
    .m-footer li:last-of-type {
      border-right: none; }
    .m-footer li a {
      color: #637ab3; }

.m-viewer {
  overflow: hidden; }
  .m-viewer .links {
    width: calc(100% - 804px);
    float: left;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    border: 1px solid #818181;
    background: #CCC; }
    .m-viewer .links .link {
      background: #EEE;
      display: block;
      padding: .5em;
      border-bottom: 1px solid #818181;
      font-size: 18px;
      font-weight: bold;
      position: relative; }
      .m-viewer .links .link.active {
        background: linear-gradient(to right, #000, #000);
        color: #FFFFFF;
        border-right: none; }
      .m-viewer .links .link .arrow {
        display: block;
        position: absolute;
        right: -20px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #000; }
      .m-viewer .links .link:hover {
        text-decoration: none; }
  .m-viewer .viewer {
    float: left; }
    .m-viewer .viewer iframe {
      border: 1px solid #818181;
      border-bottom: none; }

.mobile-only {
  display: none; }

/**
 * Mobile UI tweaks
 **/
@media (max-width: 800px) {
  .site {
    min-width: 100%; }

  .mobile-only {
    display: block; }

  .m-viewer,
  .m-home-carousel-categories,
  .m-home-homepage-categories {
    display: none; }

  .m-nav {
    height: auto;
    margin-bottom: 0; }
    .m-nav .search {
      display: none; }

  .m-sidebar-widget {
    border-top: 1px solid #3a4b76; }

  .m-footer ul {
    padding: 0 !important; }
  .m-footer li {
    border: none !important;
    margin: 1em !important;
    padding: 0 !important; }

  .widget_recent_entries li {
    display: list-item !important; }

  .rpwe-block h3.rpwe-title {
    font-size: 16px !important;
    line-height: 1.2 !important; }
  .rpwe-block .rpwe-summary {
    font-size: 14px !important; }
  .rpwe-block .more-link {
    margin-left: .25em;
    color: #637ab3; } }

/*# sourceMappingURL=style.css.map */
