/**
 * Colors
 **/
/**
 * Measurements
 **/
/**
 * Defaults
 **/
/**
 * Fonts
 **/
body {
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif; }
  body a {
    text-decoration: none;
    color: #000000; }
    body a:hover {
      text-decoration: underline; }
  body h1, body h2, body h3, body h4 {
    color: #3a4b76;
    font-family: "Alegreya Sans SC", sans-serif;
    text-transform: uppercase; }
    body h1 a, body h2 a, body h3 a, body h4 a {
      color: #3a4b76; }

.site {
  max-width: 1200px;
  min-width: 1040px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/**
 * Nav bar
 **/
.m-nav {
  height: 127px;
  position: relative; }
  .m-nav .m-nav--main {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 20px; }
    .m-nav .m-nav--main .links a {
      color: #637ab3; }
    .m-nav .m-nav--main .search label {
      display: none; }
    .m-nav .m-nav--main .logo {
      position: absolute;
      left: 0;
      top: 0;
      height: 60px; }
      .m-nav .m-nav--main .logo img {
        height: 100%;
        width: auto; }
    .m-nav .m-nav--main .meta {
      text-align: right;
      margin-top: 20px; }
    .m-nav .m-nav--main .social {
      position: absolute;
      right: 0;
      top: 0; }
      .m-nav .m-nav--main .social a {
        margin-left: .25em; }
        .m-nav .m-nav--main .social a:hover {
          text-decoration: none; }
      .m-nav .m-nav--main .social i {
        font-size: 1.75em;
        color: #000000; }
        .m-nav .m-nav--main .social i:hover {
          color: #637ab3; }
  .m-nav .m-nav--latest-news {
    height: 1em;
    padding: .5em;
    border: 1px solid #3a4b76;
    position: relative; }
    .m-nav .m-nav--latest-news .heading {
      position: absolute;
      left: .5em;
      bottom: .4em;
      font-weight: bold; }
    .m-nav .m-nav--latest-news .items {
      position: absolute;
      left: 118px;
      bottom: .4em;
      overflow: hidden;
      width: 66%; }
      .m-nav .m-nav--latest-news .items a {
        color: #637ab3; }
    .m-nav .m-nav--latest-news .date {
      position: absolute;
      right: .5em;
      bottom: .4em; }
    .m-nav .m-nav--latest-news .unslider-nav, .m-nav .m-nav--latest-news .unslider-arrow {
      display: none; }

/**
 * Archive pages (Home, Category, Search, Etc.)
 **/
.m-archive {
  overflow: hidden; }
  .m-archive .wrap {
    float: left;
    width: calc(100% - 330px);
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; }
  .m-archive .sidebar.right {
    float: left;
    width: 330px; }
  .m-archive .sidebar.left {
    width: 98px;
    float: left;
    border: 1px solid #3a4b76; }
  .m-archive .container {
    width: calc(100% - 100px);
    float: left; }
  .m-archive.archive .heading {
    margin-left: 15px; }
  .m-archive.archive .results ul {
    padding-left: 2em;
    padding-right: 2em; }
    .m-archive.archive .results ul li {
      margin-bottom: 1em;
      color: #3a4b76; }
      .m-archive.archive .results ul li a {
        color: #3a4b76; }
  .m-archive.search .nothing-found {
    margin-left: 15px;
    font-weight: bold; }
  .m-archive .pagination {
    padding: 15px;
    padding-bottom: 30px;
    color: #637ab3; }
    .m-archive .pagination a {
      color: #637ab3; }

/**
 * Homepage right sidebar
 **/
.m-archive-sidebar-right {
  margin-top: 15px; }
  .m-archive-sidebar-right .widget_recent_entries li:nth-of-type(n+6) {
    display: none; }

/**
 * Sidebar widgets
 **/
.m-sidebar-widget {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #3a4b76; }
  .m-sidebar-widget h2 {
    margin: 0; }
  .m-sidebar-widget ul {
    padding-left: 1em; }
  .m-sidebar-widget li {
    margin-bottom: 1em;
    color: #3a4b76; }
    .m-sidebar-widget li a {
      color: #3a4b76; }

/**
 * Top-right homepage featured items
 **/
.m-home-featured .item {
  border: 1px solid #3a4b76;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 15px; }
  .m-home-featured .item:nth-of-type(n+2) {
    margin-top: -1px; }
  .m-home-featured .item .title {
    margin: 0; }
  .m-home-featured .item .date {
    margin-top: .25em;
    margin-bottom: .25em; }
    .m-home-featured .item .date a {
      font-size: 12px;
      color: #637ab3; }
  .m-home-featured .item p {
    margin-top: 0;
    margin-bottom: 0; }

/**
 * Top homepage carousel
 **/
.m-home-carousel {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  height: 400px;
  background-color: #000000; }
  .m-home-carousel .items {
    height: 365px; }
    .m-home-carousel .items .item .thumb {
      height: 300px;
      overflow: hidden;
      background-size: cover !important;
      position: relative; }
      .m-home-carousel .items .item .thumb a {
        position: absolute;
        width: 100%;
        height: 100%; }
    .m-home-carousel .items .item .title {
      text-align: center;
      font-size: 16px; }
      .m-home-carousel .items .item .title a {
        text-decoration: none;
        color: #FFFFFF; }
  .m-home-carousel ul {
    height: 365px; }
  .m-home-carousel .unslider-arrow {
    color: #FFFFFF; }

/**
 * Homepage below-carousel feature area
 **/
.m-home-spotlight {
  margin-bottom: 15px; }
  .m-home-spotlight .items.main {
    overflow: hidden;
    border-top: 1px solid #3a4b76; }
    .m-home-spotlight .items.main .item {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 1em;
      padding-bottom: 1000px;
      margin-bottom: -1000px;
      margin-top: -1px;
      border: 1px solid #3a4b76; }
      .m-home-spotlight .items.main .item:nth-of-type(odd) {
        clear: left; }
      .m-home-spotlight .items.main .item:nth-of-type(even) {
        margin-left: -1px; }
      .m-home-spotlight .items.main .item .title {
        margin: 0; }
      .m-home-spotlight .items.main .item p {
        margin: 0; }
        .m-home-spotlight .items.main .item p:last-of-type {
          margin-bottom: 1em; }
      .m-home-spotlight .items.main .item .date {
        font-size: 12px;
        margin-top: .5em;
        margin-bottom: .5em; }
        .m-home-spotlight .items.main .item .date a {
          color: #637ab3; }
  .m-home-spotlight .items.secondary {
    border: 1px solid #3a4b76;
    margin-top: -1px;
    padding-top: 1em;
    font-size: 14px;
    width: calc(100% - 3px); }
    .m-home-spotlight .items.secondary .item {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em; }
      .m-home-spotlight .items.secondary .item h4 {
        margin: 0;
        margin-left: 1em;
        display: list-item; }

/**
 * Homepage categories container
 **/
.m-home-homepage-categories {
  overflow: hidden;
  border-bottom: 1px solid #3a4b76;
  margin-bottom: 30px; }

/**
 * Homepage category block
 **/
.m-home-category {
  width: calc(50% - 2px);
  float: left;
  border: 1px solid #3a4b76;
  padding: 1em;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  box-sizing: border-box; }
  .m-home-category:nth-of-type(odd) {
    clear: left; }
  .m-home-category:nth-of-type(even) {
    margin-left: -1px; }
  .m-home-category > .title {
    margin: 0;
    margin-bottom: 15px; }
  .m-home-category .featured-item {
    overflow: hidden;
    margin-bottom: 15px; }
    .m-home-category .featured-item .thumbnail {
      width: 60px;
      height: 60px;
      background-color: #3a4b76;
      float: left;
      margin-right: 1em; }
    .m-home-category .featured-item .title {
      float: left;
      width: calc(100% - 76px);
      font-weight: bold; }
      .m-home-category .featured-item .title a {
        color: #3a4b76; }
  .m-home-category .items {
    padding-bottom: 1em;
    padding-left: 1em; }
    .m-home-category .items .item {
      display: list-item;
      color: #3a4b76;
      margin-bottom: .5em; }
      .m-home-category .items .item a {
        color: #3a4b76; }

/**
 * Homepage category carousel galleries container
 **/
.m-home-carousel-categories {
  position: relative;
  margin-bottom: 15px; }
  .m-home-carousel-categories > .unslider {
    position: relative;
    margin-top: -1px; }
  .m-home-carousel-categories .unslider-arrow {
    top: 1.25em;
    color: #637ab3; }
    .m-home-carousel-categories .unslider-arrow.prev {
      right: 50px;
      left: auto; }
    .m-home-carousel-categories .unslider-arrow.next {
      right: 24px; }
    .m-home-carousel-categories .unslider-arrow i {
      font-size: 1.25em; }

/**
 * Homepage category carousel
 **/
.m-carousel-row {
  margin: 5px;
  border: 1px solid #3a4b76;
  overflow: hidden; }
  .m-carousel-row > .title {
    padding-left: 15px;
    padding-right: 15px; }
  .m-carousel-row .featured-item {
    box-sizing: border-box;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 15px;
    width: 33%;
    float: left; }
    .m-carousel-row .featured-item:first-of-type {
      padding-left: 15px; }
    .m-carousel-row .featured-item:last-of-type {
      padding-right: 15px; }
    .m-carousel-row .featured-item .title a {
      color: #3a4b76; }
    .m-carousel-row .featured-item .thumbnail {
      width: 100%;
      height: 80px;
      margin-bottom: 15px;
      background-size: cover !important;
      position: relative; }
      .m-carousel-row .featured-item .thumbnail a {
        position: absolute;
        width: 100%;
        height: 100%; }

/**
 * Homepage left-sidebar tag list
 **/
.m-archive-sidebar-left .wp-tag-cloud {
  padding-left: .5em;
  margin-top: .25em;
  margin-bottom: .25em;
  overflow: hidden;
  display: block;
  word-wrap: break-word; }
  .m-archive-sidebar-left .wp-tag-cloud a {
    color: #3a4b76; }
  .m-archive-sidebar-left .wp-tag-cloud li {
    margin-bottom: .25em; }

/**
 * Footer
 **/
.m-footer {
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #637ab3; }
  .m-footer ul {
    display: block; }
  .m-footer li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
    padding-right: 1em;
    border-right: 1px solid #637ab3; }
    .m-footer li:last-of-type {
      border-right: none; }
    .m-footer li a {
      color: #637ab3; }

/**
 * Mobile UI tweaks
 **/
@media (max-width: 800px) {
  .site {
    min-width: 100%; }

  .m-archive .sidebar.left {
    display: none; }
  .m-archive .sidebar.right {
    float: none;
    width: 100%; }
  .m-archive .container {
    width: 100%; }
  .m-archive .wrap {
    display: none; }

  .m-nav {
    height: auto;
    margin-bottom: 15px; }
    .m-nav .search {
      display: none; }

  .m-nav--latest-news {
    display: none; }

  .m-footer ul {
    padding: 0 !important; }
  .m-footer li {
    border: none !important;
    margin: 1em !important;
    padding: 0 !important; }

  .widget_recent_entries li {
    display: list-item !important; } }

/*# sourceMappingURL=style.css.map */
