@import 'variables';

body {
	background-color: #FFFFFF;
	font-family: $text-font;

	a {
		text-decoration: none;
		color: $text-color;

		&:hover {
			text-decoration: underline;
		}
	}

	h1, h2, h3, h4 {
		color: $cn-blue;
		font-family: $heading-font;
		text-transform: uppercase;

		a {
			color: $cn-blue;
		}
	}
}

.site {
	max-width: $site-width;
	min-width: 1040px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Nav bar
 **/
.m-nav {
	height: $nav_height;
	position: relative;

	.m-nav--main {
		height: 80px;
		padding-top: 20px;
		padding-bottom: 0;
		margin-top: 20px;
		position: relative;

		.links {
			a {
				color: $cn-lt-blue;
			}
		}

		.search {
			label {
				display: none;
			}
		}

		.logo {
			position: absolute;
			left: 0;
			top: 0;
			height: 60px;

			img {
				height: 100%;
				width: auto;
			}

		}

		.tagline {
			position: absolute;
			bottom: .75em;
			text-transform: uppercase;
			font-weight: bold;
		}

		.meta {
			position: absolute;
			right: 0;
			bottom: 15px;
		}

		.social {
			position: absolute;
			right: 0;
			top: 0;

			a {
				margin-left: .25em;

				&:hover {
					text-decoration: none;
				}
			}

			i {
				font-size: 1.75em;
				color: #000000;

				&:hover {
					color: $cn-lt-blue;
				}
			}
		}
	}

	.m-nav--latest-news {
		height: 1em;
		padding: .5em;
		border: 1px solid $border-color;
		position: relative;

		.heading {
			position: absolute;
			left: .5em;
			bottom: .4em;
			font-weight: bold;
		}

		.items {
			position: absolute;
			left: 118px;
			bottom: .4em;
			overflow: hidden;
			width: 66%;

			a {
				color: $cn-lt-blue;
			}
		}

		.date {
			position: absolute;
			right: .5em;
			bottom: .4em;
		}

		.unslider-nav, .unslider-arrow {
			display: none;
		}
	}
}

/**
 * Archive pages (Home, Category, Search, Etc.)
 **/
.m-archive {
	overflow: hidden;

	// Tag, Category, etc.
	&.archive {
		.heading {
			margin-left: $margin-m;
		}

		.results {
			ul {
				padding-left: 2em;
				padding-right: 2em;

				li {
					margin-bottom: 1em;
					color: $cn-blue;

					a {
						color: $cn-blue;
					}
				}
			}
		}
	}

	// Search Results
	&.search {
		.nothing-found {
			margin-left: $margin-m;
			font-weight: bold;
		}
	}

	.pagination {
		padding: $margin-m;
		padding-bottom: 2 * $margin-m;
		color: $cn-lt-blue;

		a {
			color: $cn-lt-blue;
		}
	}
}

/**
 * Homepage categories container
 **/
.m-home-homepage-categories {
	overflow: hidden;
	border-bottom: 1px solid $border-color;
	margin-bottom: 2 * $margin-m;
}

/**
 * Homepage category block
 **/
.m-home-category {
	width: 50%;
	float: left;
	border: 1px solid $border-color;
	padding: 1em;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	box-sizing: border-box;

	&:nth-of-type(odd){
		clear: left;
	}

	&:nth-of-type(even) {
		border-left: none;
	}

	> .title {
		margin: 0;
		margin-bottom: $margin-m;
	}

	.item {
		overflow: hidden;
		margin-bottom: $margin-m;

		.thumbnail {
			width: 60px;
			height: 60px;
			background-color: $cn-blue;
			float: left;
			margin-right: 1em;
		}

		.title {
			float: left;
			width: calc(100% - 76px);
			font-weight: bold;

			a {
				color: $cn-blue;
			}
		}
	}

	.items {
		padding-bottom: 1em;
		padding-left: 1em;

		.item {
			display: list-item;
			color: $cn-blue;
			margin-bottom: .5em;

			a {
				color: $cn-blue;
			}
		}
	}

	.more {
		font-size: $font-s;
		font-weight: bold;
		margin-bottom: $margin-m;
		display: block;
		color: $cn-lt-blue;
		text-transform: uppercase;
	}
}

/**
 * Homepage category carousel galleries container
 **/
.m-home-carousel-categories {
	position: relative;
	margin-bottom: -1px;
}

/**
 * Homepage category carousel
 **/
.m-carousel-row {
	border: 1px solid $border-color;
	overflow: hidden;
	position: relative;
	padding-bottom: 2em;

	> .title {
		padding-left: $margin-m;
		padding-right: $margin-m;
	}

	.featured-item {
		box-sizing: border-box;
		padding-left: 7.5px;
		padding-right: 7.5px;
		padding-bottom: $margin-m;
		width: 33.333%;
		float: left;

		&:first-of-type {
			padding-left: $margin-m;
		}

		&:nth-of-type(3n) {
			clear: right;
			padding-right: $margin-m;
		}

		&:nth-of-type(3n+1) {
			clear: left;
			padding-left: $margin-m;
		}

		.title a {
			font-weight: bold;
			color: $cn-blue;
		}

		.thumbnail {
			width: 100%;
			height: 160px;
			margin-bottom: $margin-m;
			background-size: cover!important;
			background-color: $cn-blue;
			position: relative;

			a {
				position: absolute;
				width: 100%;
				height: 100%;
			}

		}
	}

	.more {
		position: absolute;
		right: $margin-m;
		bottom: $margin-m;

		a {
			text-transform: uppercase;
			color: $cn-lt-blue;
			font-weight: bold;
			font-size: $font-s;
		}
	}
}

/**
 * Footer
 **/
.m-footer {
	margin-bottom: 2 * $margin-m;
	text-align: center;
	border-top: 1px solid $cn-lt-blue;

	ul {
		display: block;
	}

	li {
		display: inline-block;
		margin-left: .5em;
		margin-right: .5em;
		padding-right: 1em;
		border-right: 1px solid $cn-lt-blue;

		&:last-of-type {
			border-right: none;
		}

		a {
			color: $cn-lt-blue;
		}
	}
}

.m-viewer {
	overflow: hidden;

	.links {
		width: calc(100% - 804px);
		float: left;
		padding-bottom: 1000px;
		margin-bottom: -1000px;
		border: 1px solid $cn-gray;
		background: #CCC;

		.link {
			background: #EEE;
			display: block;
			padding: .5em;
			border-bottom: 1px solid $cn-gray;
			font-size: $font-l;
			font-weight: bold;
			position: relative;

			&.active {
				background: linear-gradient( to right, #000, #000 );
				color: #FFFFFF;
				border-right: none;
			}

			.arrow {
				display: block;
				position: absolute;
				right: -20px;
				top: 0;
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 20px solid #000;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	.viewer {
		float: left;

		iframe {
			border: 1px solid $cn-gray;
			border-bottom: none;
		}
	}
}

/**
 * Mobile UI tweaks
 **/
@media (max-width: 800px) {
	.site {
		min-width: 100%;
	}

	.m-home-featured {
		display: none;
	}

	.m-archive {
		.sidebar.left {
			display: none;
		}

		.sidebar.right {
			float: none;
			width: 100%;
		}

		.container {
			width: 100%;
		}

		.wrap {
			display: none;
		}
	}

	.m-archive-sidebar-right {
		margin-top: 0;
	}

	.m-nav {
		height: auto;
		margin-bottom: $margin-m;

		.search {
			display: none;
		}
	}

	.m-nav--latest-news {
		display: none;
	}

	.m-footer {
		ul {
			padding: 0!important;
		}

		li {
			border: none!important;
			margin: 1em!important;
			padding: 0!important;
		}
	}

	.widget_recent_entries {
		li {
			display: list-item!important;
		}
	}
}